* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #fff;
  position: relativex;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99px;
  background-color: #fff;
}
.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 2px solid red; */
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 89px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.items ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
.item-link a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.item-link a:hover {
  color: #1d2535;
}
.sign {
  display: flex;
  align-items: center;
  gap: 30px;
}
.in-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  text-decoration: none;
}
.in-link:hover {
  color: #79829c;
}
.up-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  padding: 13px 45px;
  text-decoration: none;
  border: 1px solid #f53855;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.up-link:hover {
  color: #fff;
  background-color: #f53855;
  border: 1px solid #fff;
  border-radius: 50px;
}
.first {
  margin-top: 180px;
}

.first-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 103px;
}
.first-h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  padding-bottom: 20px;
}
.first-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  padding-bottom: 50px;
}
.first-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  padding: 17.5px 77.5px;
  background: #f53838;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.first-link:hover {
  background: #fff;
  color: #f53838;
}
.first-link1 {
  color: black;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(27px);
  border-radius: 10px solid green;
}
.first-img {
  max-width: 611px;
}

/* //////////////////////////////// */

.seconds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 72px 91px;
  background: #ffffff;
  border-radius: 10px;
}
.second-item {
  display: flex;
  align-items: center;
  gap: 36.5px;
}
.second-h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
  padding-bottom: 5px;
}
.second-h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

/* ////////////////////////////// */

.three-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 96px 0 131px 15px;
}
.three-img {
  max-width: 508px;
}
.three-items {
  padding-top: 35px;
}
.three-h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  padding-bottom: 20px;
}
.three-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  padding-bottom: 25px;
}
.three-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding-bottom: 25px;
}
.three-h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

/* ////////////////////////// */

.four-content {
  padding: 81px 26px 150px 26px;
}
.four-h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 20px;
}
.four-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  padding-bottom: 60px;
}
.fours-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.four-item {
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 80px 70px 50px 75px;
}
.four-img {
  max-width: 145px;
  padding-bottom: 30px;
}
.four-h4 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 30px;
}
.four-page {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 26px;
  /* padding-bottom: 10px; */
}
.four-h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  padding-bottom: 10px;
}
.four-page1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 26px;
  padding-bottom: 130px;
}
.four-page2 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 26px;
  padding-bottom: 90px;
}
.four-page3 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 26px;
  padding-bottom: 50px;
}
.four-h6 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 20px;
}
.four-img1 {
  padding-left: 40px;
  padding-bottom: 20px;
}
.four-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  padding: 13px 64px;
  border: 2px solid #f53838;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.four-link:hover {
  color: #fff;
  background: #f53838;
}

/* /////////////////////// */

.five-h3 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 20px;
}
.five-p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  padding-bottom: 156px;
}
.five-img {
  max-width: 1060px;
  padding-bottom: 36px;
}
.seven-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding-bottom: 50px;
}
